body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #474747;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left h1 {
    margin: 0;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #DDA0DD; /* Violet pastel color */
}

.header-right {
    margin-left: auto;
}

#box {
    padding: 48px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: 2px #3d3d3d;
    border-radius: 16px;
    text-align: left;
    width: 600px;
    margin-top: 20rem;
    margin-bottom: 20rem;

}

.header {
    font-weight: 700;
    font-size: 29px;
    color: #282a35;
    margin: 0;
    font-family: Helvetica, sans-serif;

}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.header__nav span {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
}

.header__nav span span {
    color: #04aa6d;
    font-weight: 600;
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}

.header__nav span span:hover {
    opacity: 0.9;
}

.header__btn {
    width: 100%;
    padding: 14px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
}

.magin {
    height: 39px;
}

.header__button {
    position: relative;
    top: 6px;
    width: 100%;
    box-sizing: border-box;
}

.header__button button {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #fff;
    background-color: #04aa6d;
}

.header__button .nav:hover {
    opacity: 0.8;
    color: #282a35;
}


.header__button--end {
    width: 100%;
    text-align: center;
    margin-top: 18px;
}

.header__button--end a:hover {
    color: #04aa6d;
}

.header__button--end a {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #282a35;
    text-decoration: none;
}

@media (max-width:768px){
    #box{
        width: 100%;
    }
}